- name: Determine OS Major version

  set_fact:

    _elmaj: "{{ ansible_distribution_major_version | string }}"

 

# Add any extra repositories first

- name:

  when: extra_repos | length > 0

  block:

    - name: Add repo (EL7)

      when: _elmaj == "7"

      yum:

        name: "{{ item }}"

        state: present

      loop: "{{ extra_repos }}"

 

    - name: Add repo (EL8/9)

      when: _elmaj in ["8","9"]

      dnf:

        name: "{{ item }}"

        state: present

        disable_gpg_check: true

      loop: "{{ extra_repos }}"

 

# Include OS specific tasks

- include_tasks: rhel7.yml

  when: _elmaj == "7"

 

- include_tasks: rhel8_9.yml

  when: _elmaj in ["8","9"]